<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To Do List Detail</title>
</head>
<body>
    <main>
        <div>
            <h1> {{ todo.name }} </h1>
            <h2>Tasks</h2>
            <table>
                <th>
                <tr>Task</tr>
                <tr>Due Date</tr>
            </th>
            <tbody>
                {% for task in  %}{% endfor %}
            </tbody>
            </table>
        </div>
    </main>
</body>
</html>