<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To Do List Detail</title>
</head>
<body>
    <main>
        <div>
            <h1> {{ todo_object.name }} </h1>
            <h2>Tasks</h2>
            <table>
            <thead>
                <tr>
                    <th>
                        Task
                    </th>
                    <th>
                        Due Date
                    </th>
                </tr>
            </thead>
            <tbody>
                {% for item in todo_object.items.all %}
                <tr> 
                    <td> {{ item.task }} </td> 
                    <td> {{ item.task }} </td> 
                </tr>
                {% endfor %}
            </tbody>
            </table>
        </div>
    </main>
</body>
</html>

